**

!Dockerfile
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml

!crates/
!crates/**

!app/
!app/package.json
!app/bun.lockb
!app/index.html
!app/*.json
!app/*.js
!app/*.ts
!app/public/
!app/public/**
!app/src/
!app/src/**

app/node_modules/
app/node_modules/**
app/dist/
app/dist/**
app/*.tsbuildinfo

**/.env
**/.env.*
**/*.jks
**/*.key
**/*.keystore
**/*.pem
**/dist/
**/dist/**
**/node_modules/
**/node_modules/**
**/target/
**/target/**
